# Scraping 
## 1.2

In [21]:
import pandas as pd
import os
from bs4 import BeautifulSoup as bs

In [22]:
# Gather all the file names
folder = r'D:\Jobs'
files = list(os.listdir(folder))

In [23]:
# Load from files
html =[]

for i, file in enumerate(files):
    f = open(os.path.join(folder, file), encoding='utf8')
    with f:
        html1 = f.read()
        html.append(html1)

# Create soup objects and extract text
soup = []
title = []
text = []
bulletPoints = []

for i, file in enumerate (files):
    soup1= bs(html[i])
    soup.append(soup1)
    
    title1 = soup1.find('title')
    title.append(title1.text)
    
    text.append(soup1.body.text)
    
    bullet = soup1.find('ul')
    bulletPoints.append(bullet)

In [24]:
# Remove duplicates
unique_text = set(text)

In [25]:
colNames = ["FileName", "JobTitle", "FullDescription","BulletPoints"]
colData = [files, title, unique_text, bulletPoints]
df = pd.DataFrame(colData).T
df.columns = colNames
df.head()

,FileName,JobTitle,FullDescription,BulletPoints
0,001b92395ed0fb62_fccid.html,"Data Engineer - Columbus, GA 31909","Data Scientist III - Pasadena, CA 91101\nMust ...","[[Bachelor’s or Master’s degree in statistics,..."
1,00321a48d04fe754_fccid.html,"Data Analyst - St. Louis, MO","Scientific Programmer - Berkeley, CA 94710\nCa...","[[US Citizenship is required.], \n, [Designate..."
2,0079c11b2611349f_fccid.html,"Data Scientist - Newark, CA",Data Scientist – Statistics and Machine Learni...,"[[ Design, develop, document and maintain mach..."
3,007d9d7b5c09d820_fccid.html,Patient Care Assistant / PCA - Med/Surg (Fayet...,"Sales Executive - San Mateo, CA\nLocation: San...",[[Provides all personal care services in accor...
4,0125eabc844281c9_fccid.html,"Scientific Programmer - Berkeley, CA",Research Scientist in Natural Language Process...,"[\n, [Demonstrated proficiency with Python, Ja..."

In [14]:
#df.dropna()

presumed_ds = df["FullDescription"].str.lower().str.contains("data sci", na=False)
df2 = df[presumed_ds]
df2.describe()

,FileName,JobTitle,FullDescription,BulletPoints
count,693,693,693,548
unique,693,659,693,518
top,bcef184e72342741_fccid.html,"Data Scientist - San Francisco, CA","Senior Data Scientist - Santa Barbara, CA\nCom...","[[Designs and enhances databases.], [Designs m..."
freq,1,8,1,3

In [15]:
df.to_csv("Data_science_jobs_Early.csv")